/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  -webkit-font-smoothing: antialiased;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  font-size: 11px;
  min-width: 20em;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

input,
button,
#inputWithAddressBookIcon {
  height: 36px;
}

input:disabled {
  color: black;
}

input,
textarea,
button {
  font-size: 1.35rem;
  outline: none;
  border: 1px solid #d8d8d8;
  background-color: white;
}

input::placeholder,
textarea::placeholder {
  color: #9c9b9b;
  font-size: 12px;
}

button:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.49615em 0.76923em;
}

textarea {
  resize: none;
}

input[type="checkbox"] {
  /* border-radius: 0px; */
  /* outline: 1px solid black !important; */
  /* -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none; */
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  visibility: hidden;
  /* border: 1px solid black; */
}

.fake-checkbox {
  border: 0.75px solid #d8d8d8;
  z-index: 1;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.checkbox-width-height {
  width: 1em;
  height: 1em;
  line-height: 1;
}

.no-spacing {
  padding: 0;
  margin: 0;
}

.font-rem {
  font-size: 12px;
  font-weight: 300;
}

.personal-h-75 {
  height: 100%;
}

.footer-links {
  cursor: pointer;
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 300;
}

.emailFbIcons {
  cursor: pointer;
}

.content-container {
  padding: 0 2.1em;
  max-width: 41em;
  margin-left: auto;
  margin-right: auto;
  min-width: 22em;
}

.modifiedButton {
  /* border: 0.06em solid #d8d8d8; */
  background-color: white;
  height: 27px;
  font-size: 12px;
  font-weight: 300;
}

.miniImage {
  width: 129px;
  height: auto;
}

.icon-spacing-id {
  display: inline-block;
  /* height: 8em; */
  /* line-height: 2em; */
  position: relative;
  vertical-align: middle;

  /* width: 2em; */
}

.small-font {
  font-size: 9.1px;
  line-height: 11px;
}
.copy-image {
  color: #980a00;
  padding: 8px;
  cursor: pointer;
  cursor: hand;
}

.almost-bold {
  font-weight: 500;
}

.white-circle {
  border: 0.06em solid #980a00;
  border-radius: 50%;
  width: 38px !important;
  height: 38px;
  padding: 5px;
  /* padding-left: 6px; */
}

.resizing-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-facebook-f {
  padding-left: 4px;
}

.fa-envelope {
  padding-left: 6px;
}

.colored-circle {
  border: 0.06em solid #980a00;
  border-radius: 50%;
  width: 38px !important;
  height: 38px;
  background-color: #980a00;
  padding: 5px;
  padding-left: 6px;
}

.libre-font {
  font-family: "Libre Baskerville";
}

.colored-logo {
  color: #980a00;
}

.white-logo {
  color: white;
}

.adding-line-height {
  line-height: 1.45em !important;
}

.x-close-symbol {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0.25em;
  cursor: pointer;
}

.personal-h-100 {
  height: 100%;
}

.font-11px {
  font-size: 11px;
}

.negative-margin {
  margin-top: -2px;
}

#linkToShare {
  display: flex;
  justify-content: space-between;
}

#fbPageInput < textarea {
  font-size: 12px;
}

#call-to-action-button {
  cursor: pointer;
  border: 2px solid #980a00;
  color: #980a00;
  padding: 0 5em;
  background-color: white;
  width: 226px;
  font-size: 1.83rem;
  height: 42px;
}

#emailPageInputs {
  font-size: 12px;
}

#invisibleInput {
  border: none;
  height: 34px;
  width: 99%;
}

#addressBookIcon {
  color: #9c9b9b;
  font-size: 15px;
}

#inputWithAddressBookIcon {
  border: 1px solid #d8d8d8;
  background-color: white;
}

#call-to-action-button:hover,
#call-to-action-button:focus {
  background-color: #980a00;
  color: white;
}

#iconsContainer {
  width: 143px;
}

#copiedPersonalMessage {
  min-width: 11em;
}

#container-largest-text {
  color: #980a00;
  font-size: 3.1rem;
}

#infoMessage {
  font-size: 1.54rem;
  font-weight: 300;
}

#container-subtext {
  width: 284px;
  font-size: 1.71rem;
  font-weight: 600;
  line-height: 21px;
}

#mobileImageOnTop {
  width: 100%;
  display: none;
  /* height: auto; */
}

#startPageEmailInput {
  font-size: 12px;
}

@media only screen and (max-width: 68em) {
  body,
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 52em) {
  body,
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 38em) {
  textarea {
    height: 98px;
  }
  #desktop-image {
    display: none;
  }

  #content-container {
    padding: 0;
  }

  #call-to-action-button {
    height: 46px;
  }

  #footer-links {
    font-size: 12px;
  }

  #emailPageInputs {
    font-size: 11.9px;
  }

  #container-subtext {
    width: inherit;
    line-height: 19px;
    font-size: 1.9rem;
    margin-top: 1rem;
  }

  #infoMessage {
    font-size: 1.78rem;
  }

  #container-largest-text {
    font-size: 3.3rem;
    margin-top: 4.5rem;
    /* margin-top: 64px; */
  }

  #linkToShare {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    padding: 0 1.5em;
  }
  #mobileImageOnTop {
    display: block;
    width: 100%;
    /* max-height: 20%; */
  }

  #copiedPersonalMessage {
    display: none;
  }

  #copy-button {
    display: none;
  }

  #fbPageInput > textarea {
    font-size: 12px;
    height: 45px !important;
  }

  .different-font {
    font-size: 13.7px !important;
  }

  .personal-h-75 {
    height: initial;
  }

  .modifiedButton {
    width: 166px;
    height: 34.43px;
  }

  .colored-logo {
    padding: 8px;
  }

  .personal-h-100 {
    height: 91%;
  }

  .resizing-mobile {
    flex-direction: column;
    margin-top: 6px;
  }

  .font-weight-bold.pb-1 {
    padding-top: 8px;
  }
}

@media only screen and (max-width: 24em) {
  body,
  html {
    font-size: 7px;
  }
}
